<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bugsnagConfig" type="Bugsnag.ConfigurationStorage.ConfigSection, Bugsnag" />
  </configSections>
  <bugsnagConfig apiKey="899ecd666668c33e02cc5adc651a11b8" />
	<connectionStrings>
		<add name="LoggingDatabaseContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|\DAQifiDatabase.db;Max Database Size=4091;Default Lock Timeout=10000" />
	</connectionStrings>
</configuration>