<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bugsnagConfig" type="Bugsnag.ConfigurationStorage.ConfigSection, Bugsnag" />
  </configSections>
  <bugsnagConfig apiKey="899ecd666668c33e02cc5adc651a11b8" />
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Runtime.InteropServices.EnableCOMRegistrationFreeActivation=false" />
  </runtime>
</configuration>