<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bugsnagConfig" type="Bugsnag.ConfigurationStorage.ConfigSection, Bugsnag" />
  </configSections>
  <bugsnagConfig apiKey="899ecd666668c33e02cc5adc651a11b8" />
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Runtime.InteropServices.EnableCOMRegistrationFreeActivation=false;Switch.System.Runtime.InteropServices.EnableConsistentCOMActivation=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="." />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="COMPLUS_ReadyToRun" value="0" />
    <add key="COMPLUS_EnableDiagnostics" value="1" />
  </appSettings>
</configuration>