version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      nuget-patch-minor:
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "nuget"
    commit-message:
      prefix: "deps: "

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions-patch-minor:
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "deps: "
