/Daqifi.Desktop/bin
/Daqifi.Desktop/obj
/Daqifi.Desktop.Bootloader/bin
/Daqifi.Desktop.Bootloader/obj
/Daqifi.Desktop.Bootloader.Test/obj
/Daqifi.Desktop.Bootloader.Test/bin
/Daqifi.Desktop.Test/obj
/Daqifi.Desktop.Test/bin
/packages
/.vs/DAQIifi Desktop/v15/*.suo
/.vs/DAQIifi Desktop/v15/Server/sqlite3
/Daqifi.Desktop.DataModel/bin/Debug
/Daqifi.Desktop.DataModel/obj/Debug
/Daqifi.Desktop.Setup/packages
/Daqifi.Desktop.Setup/DAQifiDesktopSetup/bin
/Daqifi.Desktop.Setup/DAQifiDesktopSetup/obj
/Daqifi.Desktop.Setup/.vs
/DAQIifi Desktop.sln.DotSettings.user
bin
obj
AnalysisReport.sarif
debug.log
upgrade-assistant.clef
