/Daqifi.Desktop/bin
/Daqifi.Desktop/obj
/Daqifi.Desktop.Bootloader/bin
/Daqifi.Desktop.Bootloader/obj
/Daqifi.Desktop.Bootloader.Test/obj
/Daqifi.Desktop.Bootloader.Test/bin
/Daqifi.Desktop.Test/obj
/Daqifi.Desktop.Test/bin
/packages
