<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bugsnag" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers" version="0.4.336902" targetFramework="net461" />
  <package id="NLog" version="4.5.6" targetFramework="net461" />
</packages>